# Wallet Management
export KEYSTORE=
export KEYSTORE_PASSWORD=""

# RPC URL
export RPC_URL=

# Etherscan Verification
export ETHERSCAN_API_URL=
export ETHERSCAN_API_KEY=

# Deployment Configurations
export INITIAL_AUTHED=

# Management Configurations
export KISSER=
## IAuth::{rely,deny}
export WHO=
